{% extends 'adminhome.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <center>
        <h3><u>

        </u></h3>
      </center>
  <div align="center">
    <table width="200" border="0" class="table table-hover">

         <tr>

      </tr>


      <tr>
        <th>Subject</th>
        <th><input type="text" name="s"></th>
      </tr>
         <tr>
        <th>Mark</th>
        <th><input type="text" name="m"></th>
      </tr>

         </tr>
         <tr>
        <th></th>
        <th><input type="submit" value="Add" class="btn btn-primary"></th>
      </tr>

      </table>

    <br>

  </div>
</form>
</body>


{% endblock %}